<!DOCTYPE html>

<style>

        h1 { text-align: center}
        .error {
            color: red;
        }
</style>
    
<html>
    <head>
        <div>
            <a href='/'>Home</a> <a href = '/blog'>All Blogs</a> <a href="/newpost">Add a Blog Entry</a>
            <a href='/signup'>Sign Up</a> <a href='/login'>Login</a> <a href='/logout'>Logout</a>
        </div>
        <title>Built Blog</title>
        <h1>Build A Blog</h1>
    </head>
<body>

{% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category,message in messages %}
        <li class = {{category}}>{{message}}</li>
    {% endfor %}
    </ul>
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>